:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --pink: #cc3bc5;
  }
  * {
    color: var(--fontColor);
    font-family: helvetica;
  }
  body {
      background: var(--bg);
  }
  .theme {
    --bg: var(--white);
    --fontColor: var(--black);
  }